/* mobile.css */
#main-header{
    height:var(--mobile-header-height);
    background: #000;
    position: relative;
    z-index:999;
}
#main-header h1{
    text-align: center;
    height: 60px;
}

/* 모바일 로고 크기 */

#toggle-btn{
    display: block;
    position:absolute;
    right:10%;
    top:16px;
    color:#fff;
}
#gnb{
    width: 100%;
}
#gnb ul{
    padding:30px 0;
    text-align: center;
    background: rgb(0, 0, 0);
    display: none;
    
}
#gnb ul li{
    margin: 20px 0;
    /* outline:1px solid red; */

}
#gnb ul li a{ 
    color:#fff;
}

/* 텍스트 하이라이트 효과 */

#gnb ul li a:hover{
    color:var(--main-color);
}
.bx-search{
    font-size:26px;
}

/* 메인비주얼 */
#main-visual{
    width: 100%;
    height: calc(100vh - var(--mobile-header-height));
    color:#fff;
    background: #000;
    overflow: hidden;
}

#main-visual .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position:relative;
}
#main-visual .container h1{
    z-index: 1;
    font-size: 28px;
    color:#fff;
    /* outline: 1px solid red; */
}
#main-visual .container a{
    display: block;
    width: 100px;
    font-size:18px;
    /* margin-left: 74px; */
    z-index: 1;
    color:#fff;
    text-align:right;
    border-bottom: 1px solid #fff;
    margin-top: 20px;
    /* outline:1px solid red; */
}
#main-visual .container img{
    opacity: 0.5;
    width: 100%;
    height: 100%;
    object-fit:cover;
object-position: center;
    position:absolute;
    top:0;
    left:0;
}

/* 메인컨텐츠 */
#main{
    width: 100%;
}
.container{
    width: 100%;
}
#main h1{
    font-size:24px;
    text-align: center;
    margin:40px auto;
}

.swiper{
    width: 100%;
    height: 350px;
    background: #999;
    margin: 30px auto;
}
.swiper-wrapper iframe{
    width: 100%;
    height: 350px;
}

.btn-detail{
    width: 220px;
    height: 48px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000; 
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    display: inline-block;
    color:var(--text-color);
}


 /* about */
/* about */
#about{
    margin-top: 100px;
    width: 100%;
    height: 200px;
    background: #ccc;
    text-align:center;
    padding: 50px 25%;
    background-image: url(../images/mobile-footer2.jpg);
    background-size: cover;
    background-position:  50% ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color:#fff;
    outline:1px solid red;
}
#about h2{
   font-size:24px;
   margin-bottom: 20px;
}

.btn-style-white{
    width: 100px;
    font-size:14px;
    height: 30px;
   border-top: 1px solid #fff;
   border-bottom: 1px solid #fff;
   display: inline-block;
   line-height: 30px;
   color:#fff;
}
footer{
   width: 100%;
   padding-top:40px;
   padding-bottom: 40px;
   background-color: #fff;
   text-align: center;
}
footer p{
   font-size:14px;
}
footer p span{
   color:#2faeff;
}
footer a{
   color:#2faeff;
   font-size:14px;
    margin-bottom: 30px;
}
